<!-- <h1>hello this is routing </h1> -->


<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #516BEB;">
   <div class="container-fluid">
     <a class="navbar-brand fw-bold heli" href="#">Heliware</a>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <form class="d-flex" role="search">
        <button class="btn btn-outline-light log" type="submit"  (click)="logout()">LogOut</button>
       </form>
     </div>
   </div>
 </nav>
 
 


          <div class="container">

            <div class="row mt-5">

               <div class="col-6">
               <div id="test"></div>
               </div>
               
               <div class="col-6">
                  <div id="test1"></div>
               </div>
           </div>

           <div class="row mt-5">
               <div class="col-6">
                  <div id="graph"></div>             
               </div>
               <div class="col-6">
                 <div id="colchart"></div>
               </div>
           </div>
            
          </div>

          <button class="btn btn-primary" (click)="gotoproductpage()">Click here to check the items</button><br><br> 
          <p>click on the above button to check items</p>
          <button (click)="visitmap()"></button>
         
   



   <!-- <div>
      <div class="row mt-5">
         <div class="col-6">
           <div id="test"></div>
         </div>
         <div class="col-6">
           <div id="chart-pie"></div>
         </div>
       </div>

   </div>
   </div> -->